@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

body {
    margin: 15px;
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Courier Prime', monospace;
    line-height: 1.5;
}
